# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#idea Files
*.idea
cmake-build-debug*

#Binary Files
/Notes/MatrixOps/MatrixOps
/pa1/first/first
/pa1/fourth/fourth
/pa1/second/second
/pa1/third/third
/pa3/first/first
/Notes/sudoku/sudoku
/Notes/Lecture3/Program1
/Notes/Lecture2/Program3a
/Notes/Lecture3/Program2
/Notes/Lecture3/Program4
/Notes/Lecture2/Program1
/Notes/Lecture2/Program2
/Notes/Lecture4/SudokuSolver
/Notes/Lecture2/Program3
/Notes/Lecture2/Program4
/Notes/Lecture2/Program5
/Notes/Lecture2/Program6
/Notes/Lecture2/Program7
/Notes/Lecture2/Program8
/Notes/Lecture2/Program9
/Notes/Lecture1/Program1
/Notes/Lecture4/BinaryTree
/Notes/Lecture2/debug.log
/Notes/Lecture1/debug.log
